* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    margin: 40px;
}

.container {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 40px;
    max-width: 900px;

}

.header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.left {
    p {
        font-size: small;
        color: rgba(128, 128, 128, 0.897);
    }
}

.right{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 190px;
    padding: 20px;

    .text {
        display: flex;
        justify-content: center;
        gap: 3px;
    }
       
        
    i {
        font-size: large;
    }
    span {
        font-size: small;
        color: rgba(128, 128, 128, 0.897);
    }
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px
}

.col {
   min-width: calc (100% / 3 - (15 * 2) / 3 );
   flex-grow: 1;
   gap: 15px;
}

.card {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-style: none;
    font-size: large;
    font-weight: 200;
    border-radius: 20px;
    box-shadow: 0px 5px 5px 6px rgba(211, 211, 211, 0.63);
    font-size: small;
    min-height: 600px;
    
     header {
        position: absolute;
        top: 4%;
        left: 8%;
     }
     .price {
        margin-top: 70px;
     }
     li {
        line-height: 40px;
        padding: 0 5px;
        font-size: small;
        font-weight: 100;
        max-height: ;
     }
}

.professional {
    background-color: #6500ff;
    color: white;
    
    .professionalbutton {
        background-color: white;
        color: #6500ff;
    }
    
    .text-muted {
        color: white;
    }
    p{
        color: black;
    }
}

button {
    width: 210px;
    height: 50px;
    font-size: small;
    font-weight: 600;
    color: white;
    background-color: #6500ff;
    border-style: none;
    border-radius: 10px;
}
.text-muted {
    color: gray;
}

    .price, .subscription {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        gap: 6px;

        strong {
            font-size: large;
            font-weight: 700;
        }
        .text-xxl {
            font-size: xxx-large;
            font-weight: 600;
        }

        p{
            background-color: rgb(202, 202, 202);
            border-radius: 3px;
            width: 55px;
            height: 25px;
            align-content: center;
            text-align: center;
        }
        
    }
